.container{
  max-width: 1400px;
}

.bodystyle{
  padding: 20px;
}

.col-sm-2{
align-self: center;
}

.topbuttons{
  font-size: 20px;
  padding-top: 20px;
  left:38px;
}

.center{
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
}

button{
  border-radius: 10px;
  background-color: rgb(172, 243, 172);
  border-color: 2px solid black;
  
}

.btn-outline-primary{
  border-color: transparent;
}

.button:hover{
  background-color: rgb(39, 100, 100); /* Green */
    color: white;
}

.e{
  transition-duration: 0.4s;
}
.e:hover{
  background-color: rgb(139, 175, 155); /* Green */
    color: black;
}

.card{
  display: table-cell;
  background-color: transparent;
  border: none;
}

.card-container{
  display: table;
  table-layout: fixed;
  width: 80%;
}

#disc :nth-child(n+5){
  visibility: hidden;
}

.card1 :nth-child(n):nth-child(-n+1){
  border-color: blanchedalmond;
}

.badge{
  background-color: lightgreen;
  margin-left: 10px;
}

.navbarstyle{
  margin-left: 40px;
}

.padding1210{
  padding: 12px 10px;
}

.padding0550{
  padding: 5px 50px;
  font-size: 30px;
}

.padding1539{
  padding: 15px 39px;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 63px;
}

.toppx{
  top: 37px;
}

.font{
  font-family: Open Sans;
  font-family: Raleway,sans-serif;
  float: center;
  text-align: center;
  
}
