.container{
  max-width: 1400px;
}

.bodystyle{
  padding: 20px;
}

.col-sm-2{
align-self: center;
}

.compbutton{
  font-size: 20px;
}

.topbuttons{
  font-size: 20px;
  padding-top: 20px;
}

#play{
  font-size: 35px;
  align-content: right;
}

.center{
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
}

button{
  border-radius: 10px;
}

.btn-outline-primary{
  border-color: transparent;
}

.button:hover{
  background-color: rgb(39, 100, 100); /* Green */
    color: white;
}

.e{
  transition-duration: 0.4s;
}
.e:hover{
  background-color: rgb(139, 175, 155); /* Green */
    color: black;
}

.card{
  display: table-cell;
  background-color: transparent;
  border: none;
}

.card-container{
  display: table;
  table-layout: fixed;
  width: 80%;
}

/* #disc :nth-child(n+5){
  visibility: hidden;
} */